<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个阳光正直热爱生活热爱代码的人，不管你信不信</p>
        <p>最初是想做游戏，玩了一段时间Unity</p>
        <p>后来由于没钱换电脑，就开始玩吉他</p>
        <p>当然了，吉他是副业，代码才是真爱</p>
        <p>我这人挺好相处的hhh，就这样</p>

        <p>
          <strong>个人公众号</strong>：<a href="http://www.mart1n.cn/assets/images/lookforlight.jpeg" target="_blank">我真聪明（ID：iamsososmart）</a>，“分享技术、感悟人生”欢迎关注
        </p>

        <p><strong>About name</strong></p>

        <p>黑夜给了我黑色的眼睛，我却用它寻找光明。这个头像其实跟这句诗没什么关系，只是看着好看。</p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>我的微信：<strong>Martin</strong>（备注：私人的）</li>
            <li>CSDN：<a href="{{ site.csdn_url }}">{{ site.csdn_url }}</a></li>
        </ul>



       <h2>
         Note
       </h2>

       <p>
         起初写博客是为了为以后的工作面试做准备，现在仍是。但是也多了一些其他目的，比方说为了记录一下方便以后查看；为了帮助到有相同问题的人等等。
       </p>

       <ul>
        <li>
          我还是一个小白，如果我的文章写的有问题您可以指出错误。最好能联系我一下，将错误说的详细一点儿，方便我认识到错在哪儿。
        </li>
        <li> 
          我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="http://www.mart1n.cn/assets/images/lookforlight.jpeg" target="_blank">博客公众号二维码</a>，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>


       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元吃一个冰淇淋:)
       </p>

       <p align="center">

       <img src="http://www.mart1n.cn/assets/images/6.66.png" />
       <br/>微信扫一扫
            
         <!-- <img src="http://www.mart1n.cn/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.mart1n.cn/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>
